{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{% if category %}
		{{ category.description|truncatewords:155 }}
	{% else %}
		Welcome to the Sakteshop where you can buy comfy and awesome cushions.
	{% endif %}
{% endblock %}
{% block title %}
	{% if category %}
		{{ category.name }} - Perfect Cushion Store
	{% else %}
		See Our Cushion Collection - Perfect Cushion Store
	{% endif %}
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->
	{% if category %}
		<div>
			<div>
				<p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}</p>
			</div>
        </div>
    {% endif %}
	<div>
	{% if category %}
		<img src="{{category.image.url}}" alt="{{category.name}}">
	</div>
	<br>
	<div>
		<h1 >{{category.name}}</h1>
		<p>{{category.description}}</p>
    </div>
    {% else %}
		<img src="{% static 'images/banner.jpg' %}" alt="Our Products Collection">
	</div>
	<br>
	<div>
		<h1 >Our Products Collection</h1>
		<p>Finding the perfect cushion for your room can instantly add to the levels of comfort and 
            sense of style throughout your home. They can transform the blandest of decors instantly 
            by adding colour, softness and an air of cosiness. As well as being comfy and looking great 
            our range of cushions will certainly embolden your décor with personalised charm.</p>
	</div>
    {% endif %}
    <div>
		<div>
			{% for product in products %}
				<div>
					<div>
						<a href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
						<div>
							<h4>{{product.name}}</h4>
							<p>€{{product.price}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
	</div>
{% endblock %}